# Exported functions
export(lm_ac)
export(ac_mul)
export(ac_vec)
export(bootstrap)       # If bootstrap is user-facing
export(lm_prefill)
export(lm_compare)
export(lm_tower)
export(compCases)
export(qeMLna)
export(addListElement)

# S3 method registrations
S3method(summary, lm_ac)
S3method(predict, lm_ac)

S3method(summary, lm_prefill)
S3method(predict, lm_prefill)

S3method(summary, lm_tower)
S3method(predict, lm_tower)

# Imported functions
importFrom(regtools, factorsToDummies)
importFrom(mice, mice, complete)
importFrom(Amelia, amelia)
importFrom(missForest, missForest)
importFrom(stats, lm, model.matrix, model.response, complete.cases, predict, na.omit)
importFrom(utils, head)

# If you use many functions from qeML, import the whole package; otherwise, import specific functions
# importFrom(qeML, qeMLna, addListElement)
import(qeML)
